.linkeSeite {
 float: left ;
 width: 30% ;
 height: 95vh ;
 border-style: solid ;
 position: static ;
}

.Titel {
 border-style: solid ;
 border-color: black ;
}

.Anleitung {
 border-style: solid ;
 border-color: black ;
 background-color:#EDA69A ; 
 position: relative ;
 top: 2.5% ;
}

.controlbar {
 border-style: solid ;
 top: 75% ; /* Abstand abhängig von Länge Anleitung */
 position: relative ;
}

.Spielbrett {
 border-style: solid ;
 width: 30% ;
 margin-left: 4.5% ;
 float: left ;
 height: 95vh ;
 position: static ;
}

.versteckt {
 border-style: solid ;
 position: relative ;
 top: 5% ;
}

.Eingabe {
 border-style: solid ;
 position: relative ;
 top: 5% ;  
}

.Speicher {
 border-style: solid ;
 position: relative ;
 top: 5% ;  
}

.Farbpalette {
 border-style: solid ;
 width: 30% ;
 float: right ;
 height: 95vh ;
 position: static ;
}
